.skills {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "languages frameworks devops"
    "languages frameworks online";
    font-size: 0.9em;
}

.languages {
    grid-area: languages;
}
.frameworks {
    grid-area: frameworks;
}
.devops {
    grid-area: devops;
}
.online {
    grid-area: online;
}

.skillset {
    /*padding: 10px;*/
}