.inner {
    background-image: url('/phil-hancox.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100%
}

@media (max-width: 1000px) {
    .inner {
        background-size: 65%;
    }
}

.text {
    font-size: 1.5em;
    padding: 100px 50px;
    width: 80%;
    line-height: 160%;
}

@media (min-width: 1200px) {
    .text {
        font-size: 2.5em;
        padding: 150px;
    }
}

@media (max-width: 600px) {
    .text {
        font-size: 1.6em;
        width: 100%;
        padding: 20px;
    }
}

.phil {
    font-size: 1.1em;
    background: linear-gradient(to right, #7851a9, #4169e1);
    -webkit-background-clip: text;
    color: transparent;
}

@media (min-width: 1000px) {
    .phil {
        font-size: 1.8em;
    }
}

@media (max-width: 600px) {
    .phil {
        font-size: 1em;
    }
}